
#counter {background: url(../images/bg_intro.jpeg) no-repeat 50% 0 / cover; text-align: center; }
#counter div {padding: 0 20px}
#counter .d-day {font-size: 4vw; margin-bottom: 4vw; font-weight: bold;}
#counter .clock {font-size: 140px; display: flex; justify-content: space-between; align-items: center; max-width: 1100px; margin: 0 auto 7vw;}
#counter .clock span { text-align: center; width: 12%;  padding: 15px 0; font-weight: bold; border: 1px solid #bbb; border-radius: 20px; }
#counter .countup {font-size: 1.5rem; color: #333;}
#counter .countup strong {display: inline-block; font-weight: 700; border: 1px solid #aaa; padding: 12px 30px; border-radius: 50px; margin: 0 20px; }

@media screen and (min-width: 1840px) {
    #counter .d-day {font-size: 100px ;}
}

@media screen and (max-width: 768px) {
    #counter .d-day {
        font-size: 26px;
        margin: 45px auto 20px auto;
    }
    #counter .clock {
        font-size: 34px;
        white-space: nowrap;
    }
    #counter .clock span {
        margin: 0;
        padding: 10px 0 7px;
        border-radius: 10px;
    }
    #counter .countup {font-size: 14px;}
    #counter .countup strong {
        padding: 6px 10px 4px;
        margin: 0;
        /* margin: 0 20px; */
    }
}











