#gallery_slide nav{
    display: flex;
    padding: 10px;
}
#gallery_slide nav a{ color: #000; margin-right: 10px; }
#gallery_slide nav a::after{
    content: "|";
    margin-left: 10px;
}
#gallery_slide nav a:last-child{ margin-right: 0; }
#gallery_slide nav a:last-child::after{ display: none; }