

#gallery .filter {margin-bottom: 4vw; text-align: center;}
#gallery .filter a {display: inline-block; margin: 0 20px; padding: 5px 16px; font-size: 1.2rem; font-weight: bold; } 
#gallery .filter a.on {background-color: #ffba32; color: #fff; border-radius: 8px;}



/* #gallery .filter{ display: none; } */
#gallery .grid{ max-width: 1840px; width: 100%; margin: auto; }
#gallery .grid-item{ 
    position: relative; width: 20%; height: 180px; 
    overflow: hidden;
    cursor: pointer;
}
#gallery .grid-item > div{
    position: absolute;
    top: 10px; left: 10px; right: 10px; bottom: 10px;
    border-radius: 1em; overflow: hidden; 
    background-size: cover;
    background-position: center center;
}
#gallery .grid-item::before{
    content: "";
    position: absolute;
    top: 10px; left: 10px; right: 10px; bottom: 10px;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.1);
    background-image: url(../images/btn_plus.png);
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: center calc(100% + 80px);

    z-index: 10;

    opacity: 0;
    transition: opacity 0.3s ease-out, background 0.4s ease-out;
}
#gallery .grid-item:hover::before{
    opacity: 1;
    background-position: center center;
}

#gallery .grid-sizer{ width: 20%; height: 180px; }
#gallery .grid-item--height2{ height: 360px; }
#gallery .grid-item--width2{ width: 40%; }


#gallery .btn_more {display: block; margin: 100px auto 0; padding: 20px 0; width: 18vw; 
    text-align: center; font-weight: 100; border: 1px solid #ccc; border-radius: 2em; 
    font-size: 1.3rem;}


#gallery .viewer{
    display: none;
    position: fixed;

    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #000;

    z-index: 200;

    overflow: hidden;
}
#gallery .viewer .bg{
    position: fixed;

    top: 0; bottom: 0; left: 0; right: 0;

    background-image: url(../images/gallery/g18.jpg);
    background-size: 120% auto;
    background-position: center center;

    opacity: 0.6;
    filter: blur(4px);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0, 0, 0);

}

#gallery .viewer .lists{
    position: relative;
    height: 100%;
    transition: transform 0.6s ease-out;
}
#gallery .viewer .lists li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
#gallery .viewer .lists li img{
    display: block;
    width: auto;
    height: 100%;
}

#gallery .viewer .close, .navigator_wrap{ z-index: 10; }
@media screen and (max-width: 768px) {

    #gallery{ width: 93vw; margin: auto; }
    #gallery .filter a {margin: 0 10px 0 0; font-size: 16px;}
    #gallery .filter a:last-of-type {margin: 0;}
    #gallery .btn_more {
        margin: 50px auto 0;
        width: 70%; font-size: 18px;
    }
    #gallery .filter {margin-bottom: 25px;}

    #gallery .grid-item{ 
        width: 31vw; height: 31vw;
    }
    #gallery .grid-item.visible{ 
        transform: translateY(0);
        opacity: 1;
    }

    #gallery .grid-sizer{ width: 31vw; height: 31vw; }
    #gallery .grid-item--height2{ height: 62vw; }
    #gallery .grid-item--width2{ width: 62vw; }
    
    #gallery .grid-item > div{
        top: 1vw; left: 1vw; right: 1vw; bottom: 1vw;
    }

    
    #gallery .grid-item:hover::before{ opacity: 0; }
    
    /* #gallery .grid-item:hover::after{
        transform: translate(-50%, 200%);
    }

    
    #gallery .grid-item:hover > div::after,
    #gallery .grid-item:hover > div::before{
        transform: translate(-50%, 2000px);
    } */

    #gallery .viewer .lists li img{
        width: 100%;
        height: auto;
    }
}



