
#information {position: relative; text-align: center; padding: 260px 40px}
#information .info_wrap {display: flex;    justify-content: space-between; margin: 0 auto; width: 100%; max-width: 1840px;}
#information .info_wrap dl {width: 30%; cursor: pointer;}
#information .info_wrap dl .place {background: url(../images/img_info01.png) no-repeat 100% 100% / cover;}
#information .info_wrap dl .dining {background: url(../images/img_info02.png) no-repeat 100% 100% / cover;}
#information .info_wrap dl .parking {background: url(../images/img_info03.png) no-repeat 100% 100% / cover;}

#information .info_wrap dl dt {
     height: 9vw; border-radius: 0.6em; border-bottom-right-radius: 0; overflow: hidden;
    font-size: 3vw; font-weight: bold; line-height: 9vw; letter-spacing: 0.3em; color: #fff;}
#information .info_wrap dl dd {
    flex: 1 auto; padding: 20px 15px 0 15px; line-height: 40px; 
    word-break: keep-all; font-size: 20px; box-sizing: border-box; 
}
#information .info_wrap dl dd p {
    position: relative;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.2;
    color: rgba(60,50,45,1);
    font-weight: 400;
    text-align: center;
    padding: 15px 0;
}

#information .info_wrap dl dd p:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    height: 1px;
    width: 100%;
    background: rgba(60,50,45,.4);
}
#information .info_wrap dl dd p span {
    position: relative;
    padding: 0 30px;
    background: #fff;
}
#information .info_wrap dl dd p span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 9px;
    width: 9px;
    margin-top: -4px;
    background: rgba(60,50,45,.4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#information .info_wrap dl dd p span:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 9px;
    width: 9px;
    margin-top: -4px;
    background: rgba(60,50,45,.4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#information .infobg{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #fff;
    display: none;

    z-index: 1000;
}
#information .infobg ul{ display: none; }
#information .infobg li{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;

    transition: opacity 0.6s ease-out;
}

@media screen and (min-width: 1840px) {
    #information .info_wrap dl dt {
        height: 160px;
        line-height: 160px;
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) { 
    #information {
        padding: 80px 20px;
    }
    #information .info_wrap dl dt{
        height: 100px;
        line-height: 100px;
        font-size: 26px;
    }
    #information .info_wrap dl dd {
        padding: 20px 10px 0 10px;
        font-size: 16px;
        line-height: 26px;
    }
    #information .swiper-container {
        margin-top: 50px;
    }
  
}