#intro { width: 100%; height: 100%; }
#intro article{ 
    width: 100%; height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    background-color: #ffe4c4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro article:nth-of-type(1) {
    background-image: url(../images/1.jpeg);
}
#intro article:nth-of-type(2) {
    background-image: url(../images/2.jpeg);
}
#intro article:nth-of-type(3) {
    background-image: url(../images/3.jpeg);
}

#intro span{
    text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
}