
#invitation{ text-align: center; 

    background: url(../images/bg_invi.jpg) no-repeat 100% 100% / cover; 
}
#invitation .visual {
    position: relative; 
    /* background: url(../gallery/wedding/g45.jpg) 100% 100% / cover;  */
    background: url('../gallery/date/d22.jpg') no-repeat 100% 100% / cover;

    background-size: cover;
    background-position: 50% 80%;
    height: 40vw; 
    max-height: 650px;

}
#invitation .visual span {
    display: block; position: absolute; 
    bottom: 0; left: 0; width: 100%; 
    font-size: 8vw; font-style: italic; font-weight: 600; color: rgba(0,0,0,0.1); transform: translateY(50%); 
}
#invitation em {display: block;}
#invitation p {
    padding: 0 20px; font-size: 1.5rem; 
    font-weight: 100; letter-spacing: 0.06em; line-height: 1.7em; 
}
#invitation .description {margin-top: 5vw;}
#invitation .invit_img {
    margin: 5vw auto 0; max-width:1200px; height: 500px; 
    background: url(../gallery/wedding/w20.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}
#invitation .couple {margin-top: 5vw; font-weight: bold;}
#invitation .title { margin-top: 13vw; font-weight: 600;  }
#invitation .whois {font-size: 1.2rem; margin-top: 2vw;}
#invitation .whois span {margin-left: 5px;}


@media screen and (max-width: 768px) {
    #invitation .visual span {
        font-size: 9vw;
    }
    #invitation p {
        margin-top: 60px;
        font-size: 20px;
    }
    #invitation .title,
    #invitation .description,
    #invitation .invit_img,
    #invitation .couple,
    #invitation .title {
        margin-top: 80px;
        word-break: keep-all;
    }
    #invitation .whois {
        margin-top: 40px;
        word-break: keep-all;
    }
    #invitation .description {
        font-size: 16px;
    }
    #invitation p.invit_img {height: 250px; background-position: 0 56%;}
    #invitation p.whois {font-size: 18px;}


}
