@font-face { 
    font-family: 'Arita-buri-SemiBold'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); 
    font-weight: normal; font-style: normal; 
}


body {
    position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
    overflow: auto;
    font-size: 16px; 
    /* font-family: 'Open Sans', 'Arita-buri-SemiBold', sans-serif; */
    font-family: 'Arita-buri-SemiBold', sans-serif;
}
body.stop{
    overflow: hidden;
}

a{ cursor: pointer; }

img{ display: block; width: 100%; }

header{ 
    display: flex; 
    justify-content: space-between;

    position: fixed; 
    top: 0; left: 0; right: 0; 
    padding: 1.8vw 4vw;

    background-color: rgba(255,255,255,0.6); 
    
    z-index: 50;

    transform: translateY(-100%); 
    transition: transform 0.4s ease-out;
}

header.show { transform: translateY(0); }
header.transparent{ background-color: transparent; }

header .logo { padding: 0 10vw 0 0; text-transform: uppercase; }
header nav {flex: 1 auto; display: flex; justify-content: space-around; align-items: center;} header nav span {font-weight: 100; font-size: 1rem; letter-spacing: 0.06em;}
header a {font-size: 1.1rem;}
header a.on span{ font-weight: 600; }
section {padding: 200px 0;}

section h2{
    margin-bottom: 2vw; text-align: center; 
    font-size: 1.4rem; font-weight: 600; 
    letter-spacing: 0.1em; color: #999;
} 
section h3 {
    text-align: center; font-size: 2.2rem; font-weight: 400; 
    letter-spacing: 0.4em; margin-bottom: 7vw;
}
.navigator_wrap {
    position: absolute;
    top: 48%;
    width: 100%;
    height: 30px;
}
.navigator_wrap a {
    display: inline-block;
    width: 30px; height: 30px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;

}

.navigator_wrap .prev {float: left; margin-left: 10px}
.navigator_wrap .next {float: right; margin-right: 10px;}
.navigator_wrap a img {    
    width: 48%;
    margin: 26% auto;
}
.close{
    position: absolute;
    top: 40px; right: 40px;
    width: 60px; height: 60px;
}


.close::after,
.close::before{
    content: "";
    position: absolute;
    top: 50%; left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;

    transform: rotate(45deg);
}

.close::after{
    transform: rotate(-45deg);
}



.btn_top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 35px; height: 35px;

    cursor: pointer;

    opacity: 1;

    transition: opacity 0.3s ease-out;

    z-index: 2;
}
/* .btn_top.hide{ opacity: 0; } */

.btn_top:hover img{
    animation: jump 1s ease-in-out infinite;
}



@keyframes jump{
    0%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(-50%);
    }

    100%{
        transform: translateY(0);
    }
}



.quick {
    position: fixed;
    top: 35%;
    right: 0;
    width: 40px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.quick.start{ opacity: 1; }

.quick dl {
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: #333;
    font-size: .7rem;
    color: #fff;
}
.quick dl dt {
    position: relative;
    margin-bottom: 20px;
}
.quick dl dt:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 2px;
    height: 2px;
    background: #919191;
}
.quick dl dd span,
.quick dl dt span {
    display: block;
    margin-top: 5px;
}

.quick ul li{
    position: relative;
    border-bottom: 1px solid #ddd;
}
.quick ul li:nth-child(4),
.quick ul li:last-child{
    border-bottom: 0 none;
}

.quick ul li > a{
    display: block;
    width: 40px; height: 40px;


}
.quick ul li > a#copyurl{
    background: #f1f1f1 url(../images/btn_link.png) center center no-repeat;
}
.quick ul li:hover a#copyurl{
    background: #f1f1f1 url(../images/btn_link_hover.png) center center no-repeat;
}
.quick ul li > a#audioToggler{
    background: #f1f1f1 url(../images/btn_sound_on.png) center center no-repeat;
}
.quick ul li:hover a#audioToggler{
    background: #f1f1f1 url(../images/btn_sound_off_hover.png) center center no-repeat;
}
.quick ul li > a#call {
    background: #f1f1f1 url(../images/btn_tel_mob.png) center center no-repeat; background-size: 35%;
}
.quick ul li > a#mail{
    background: #f1f1f1 url(../images/btn_mail_mob.png) center center no-repeat; background-size: 35%;
}
.quick ul li > a#katalk{
    background: #fbe259 url(../images/btn_kakao.png) center center no-repeat;
}
.quick ul li:nth-child(3), .quick ul li:nth-child(4) {display: none;}
.quick ul li .pop {
    display: none;
    position: absolute;
    right: 50px;
    top: 50%;
    padding: 8px 15px 8px 15px;
    transform: translate(-10px,-50%);
    transition: .3s all;
    white-space: nowrap;
    background: #202020;
   
    letter-spacing: 1px;
    font-size: 0.6rem;
    opacity: 0;
}

.quick ul li .pop.show { display: flex !important; opacity: 1 !important;}
.quick ul li .pop > a {
    display: block;
    color: #ccc;
}
.quick ul li .pop > a:after {
        content: '';
        position: absolute;
        right: -5px;
        width: 5px;
        height: 10px;
        background: url(../images/btn_hover.png) center center no-repeat;
}
.quick ul li > a:hover + .katalk {
    opacity: 1;
    display: flex;
}

.leaf{ position: absolute; }
.leaf img{
    width: 20px;
    position: fixed;
    z-index: 50;
    transition: all 20s ease-in-out;
    pointer-events: none;
    opacity: 0;
}



.popup{
    position: fixed;

    top: 10px; left: 10px;

    width: 360px;

    display: none;
    flex-direction: column;

    z-index: 99999;
}
.pop-notice{ display: none; }
.pop-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffba32;
}
.pop-buttons a{
    padding: 10px 6px;
}


@media screen and (max-width: 768px) { 
    body{ font-size: 1vw; }
    header {
        justify-content: center;
        padding: 3.5vw 4vw;
    }
    header nav{ position: relative; }
    header nav::after{
        content: "";
        position: absolute;
        right: 0; top: 4px; 
        width: 5vw; height: 2vw;
        border-top: 1.5px solid #000;
        border-bottom: 1.5px solid #000;
    }
    header nav.active{
        position: fixed;
        top: 0; right: 0; left: 0; height: 100vh;

        flex-direction: column;
        justify-content: end;

        background-color: rgba(0,0,0,0.8);
    }
    header nav.active::after{
        display: none;
    }
    header nav a{ display: none; }
    header nav.active a{ 
        display: block;
        padding: 25px 0px;
    }
    header nav.active a:first-child {margin-top: 40px;}
    header nav a span{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
    }
    section {padding: 80px 0;}
    section h2 {
        margin-bottom: 4vw;
        padding: 0 20px;
        font-size: 1.1rem;
    }
    section h3 {
        padding: 0 20px;
        font-size: 1.3rem;
        letter-spacing: 0.2em;
    }




    .btn_top {
        bottom: 65px;
        right: 25px;
        width: 20px;
        height: 20px;
    }


    .quick {
        display: flex;
        top: auto;
        bottom: -1px;
        right: auto;
        width: 100%;
    }
    .quick dl {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 30%;
    }
    .quick dl dd,
    .quick dl dt {width: 50%;}
    .quick dl dt {
        margin: 0;
    }
    .quick dl dt:after {
        top: 45%;
        right: 0;
        left: auto;
        bottom: auto;
    }

    .quick ul {
        display: flex;
        width: 70%;
    }
    .quick ul li {width: 20%; border-bottom: 0 solid #fff;}
    .quick ul li > a {width: auto; }

    .quick ul li > a:hover + .pop { display: none; opacity: 0; }
    .quick ul li:after {
        content: '';
    position: absolute;
    left: 0;
    top: 8px;
    /* margin-top: -15px; */
    width: 1px;
    height: 25px;
    background: #ddd;
    }
    .quick ul li:first-of-type:after,
    .quick ul li:last-of-type:after {
        width: 0;
    }
    .quick ul li:nth-child(3), .quick ul li:nth-child(4) {display: block;}

    .quick ul li .pop a:after {
        bottom: -5px;
        left: 50%;
        width: 10px;
        height: 10px;
        background: url(../images/btn_hover_m.png) center center no-repeat;
    }
    .quick ul li .backgroundMusic {
        top: -20px;
        right: -13px;
    }
    .quick ul li .copyurl {
        top: -20px;
        right: 50%;
        transform: translate(50%,-50%);
        width: 34vw;
        justify-content: center;
    }
    .quick ul li .mail {
        top: -20px;
        right: 50%;
        transform: translate(50%,-50%);
        width: 34vw;
        justify-content: space-around;
    }
    .quick ul li .call {
        top: -20px;
        right: 50%;
        transform: translate(50%,-50%);
        width: 34vw;
        justify-content: space-around;
    }
    .quick ul li .katalk {
        top: -20px;
        padding: 8px 5px;
        right: -15%;
    }
    .quick ul li .katalk span:after {
        left: 67%;
    }
    .close {
        top: 18px;
        right: 18px;
        width: 30px;
        height: 30px;
    }
    .close::after, .close::before {
        height: 3px;
    }

    .navigator {
        width: 35px; height: 35px;
        background-color: rgba( 255, 255, 255, 0.5 );
    }
    .navigator.prev {
        top : 46.4%;
        left: 15px;
    }
    .navigator.next {
        right: 15px;
    }
    .navigator::after {
        width: 12px; height: 12px;
    }

    .popup{ display: none; top: auto; left: 0; right: 0; bottom: 39px; padding: 2vw 0; width: 100%; background-color: #fff; overflow: hidden; }
    .pop-notice{ 
        display: block;
        font-size: 0.85rem;

        width: 1000%;
    }
    .pop-notice span{
        padding: 0 2vw;
    }
    .pop-content, .pop-buttons{ display: none; }
}


.animate-opacity{
    transition: opacity 1s ease-out;
    opacity: 0;
}
.animate-opacity.start{ opacity: 1; }

.animate-scaleY{
    transition: transform 1s ease-out;
    transform: scaleY(0);
}
.animate-scaleY.start{ transform: scaleY(1); }

.animate-slide-up{
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(50px);
    opacity: 0;
}
.animate-slide-up.start{
    transform: translateY(0);
    opacity: 1;
}