
#location .map {width: 100%; height: 500px; background-color: pink; pointer-events: none;}
#location .inner {max-width: 1200px; margin: 0 auto;}
#location .info {padding: 80px 0; text-align: center;}
#location .info .txt01 {font-size: 2rem;}
#location .info .txt02 {margin: 50px 0 15px 0; font-size: 1.3rem;}
#location .info .txt03 { font-size: 1rem; color: #999;}
#location .info .txt03 span {border: 1px solid #ddd; display: inline-block; 
    padding: 3px 5px 2px 5px; font-size: 10px; 
}
#location .info .txt04 {margin-top: 20px; font-size: 1.3rem; } 
#location .info .call { display: inline-block; margin-top: 70px; background: #ffba32; padding: 15px 20px; border-radius: 15px; font-weight: bold; color: #fff; font-size: 14px; }
#location .navi {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 80px 40px; }
#location .navi .tit {display: inline-block; margin-bottom: 20px; font-size: 1.5rem; color: #333; }
#location .navi dl {margin-top: 25px; display: flex; cursor: pointer; }
#location .navi dl dd {display: inline-block; width: 45px; height: 45px; }
#location .navi dl dt {padding: 13px 0 0 20px; font-size: 1.2rem; }
#location .traffic {padding: 80px 40px 0 40px; }
#location .traffic .box {margin-bottom: 3vw; }
#location .traffic .box:last-child {margin-bottom: 0;}
#location .traffic .box .top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#location .traffic .box .top span {display: inline-block; width: 45px; height: 45px; margin-right: 10px; }
#location .traffic .box .top strong {font-size: 1.5rem; }
#location .traffic .box .tit {font-size: 1.2rem; letter-spacing: -1px; line-height: 2rem; }
#location .traffic .box .sub {padding-left: 10px; font-size: 1rem; line-height: 1.9rem; color: #999;  letter-spacing: -1px;}
#location .traffic .box .sub.red {color: red;}
#location .traffic .box .sub.margin {margin-bottom: 15px;}


@media screen and (max-width: 768px) { 
    #location .info {
        padding: 60px 20px;
    }
    #location .map{
        height: 300px;
    }
    #location .traffic .box .top strong,
    #location .info .txt01 {
        font-size: 24px;
    }
    #location .info .txt02 {
        font-size: 18px;
        margin: 40px 0 10px 0;
    }
    #location .info .txt03 {
        font-size: 16px;
    }
    #location .info .txt04 {
        font-size: 16px;
    }
    #location .info .call {
        margin-top: 40px;
    }
    
    #location .navi {
        padding: 60px 20px;
    }
    #location .navi .tit {
        margin: 0;
    }
    #location .navi dl {
        margin-top: 20px;
    }
    #location .traffic {
        padding: 60px 20px 0 20px;
    }
    #location .traffic .box .top span,
    #location .navi dl dd {
        width: 30px; height: 30px;
    }
    

    #location .navi dl dt {
        padding: 8px 0 0 10px;
        font-size: 15px;
    }
    #location .traffic .box .tit {
        font-size: 17px;
        line-height: 32px;
    }
    #location .traffic .box .sub {
        font-size: 15px;
        line-height: 28px;
        padding: 0;
    }
    #location .traffic .box .top {
        margin-top: 50px
    }
    #location .traffic .box:first-child .top {margin-top: 0;}
    

}