
#main {
    position: relative; width: 100%; height: 100%; padding: 0; 
}

#main .photo{ 
    position: relative;
    width: 100%; height: 100%;
}

#main .photo > div{
    position: absolute;
    left: 0; right: 0;
    width: 100%; height: 100%;
    background-size: cover; background-position: center center; 
    background-repeat: no-repeat; overflow: hidden;

    transition: opacity 0.6s ease-out;
    opacity: 0;
}

#main .photo > div.show{ opacity: 1; }

#main .bottom { 
    position: absolute; 
    bottom: 0;
    left: 50%;
    /* bottom: -100px; left: calc(50% - 80px);  */
    transform: translateX(-50%);
    width: 370px; 
    background: url(../images/img_scroll.jpg) no-repeat;
    background-size: 100%;
    text-align: center;
    display: none;
}

#main .bottom.view{ display: block; }
#main .line {
    position: relative;
    width: 2px;
    height: 25px;
    background-color: #000;
    margin: 10PX auto 5px auto;
}
#main .line::after{
    content: "";
    position: absolute;
    width: 10px; height: 10px;
    top: 0; left: calc( 50% - 5px );

    background-color: #000;

    border-radius: 50%;

    animation: dotLoop infinite 3s ease-out;
}

@keyframes dotLoop{
    0% { top: 0; }
    20% { top: 0; }
    50%{ top: calc( 100% - 10px ); }
    70%{ top: calc( 100% - 10px ); }
    100% { top: 0; }
}

#main .bottom span {
    display: block;
    font-size: 0.76rem;
}

#main .tit_wrap  {
    display: flex; 
    position: absolute; bottom: 12%; left: 15%; padding-right: 120px; color: #fff;}

#main .tit_wrap p{ text-shadow: 5px 5px 15px rgba(255,255,255,0.5);}
#main .tit_wrap .tit01 { padding: 2px 20px 0 0; font-size: 26px; line-height: 26px; }
#main .tit_wrap .tit02,
#main .tit_wrap .tit03 {margin-top: -10px; text-align: center; width: 6vw; font-size: 8vw; line-height: 9vw; font-weight: 400;}
#main .tit_wrap .tit04 {position: absolute; bottom: 0; right: 0; display: flex; font-size: 40px; font-weight: 400; } 
#main .tit_wrap .tit04 .bride {padding-right: 35px;}
#main .tit_wrap .tit04 .dot {position: absolute; left: 44%; top: 35%;}
#main .tit_wrap .tit_line{
    width: 1px; background-color: #fff;
    margin-right: 18px;
}

@media screen and (min-width: 1840px) {
    #main .tit_wrap .tit01 {
        font-size: 25px;
        line-height: 30px;
    }
    #main .tit_wrap .tit03,
    #main .tit_wrap .tit02 {
        font-size: 100px;
        line-height: 120px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1839px) {
    #main .tit_wrap .tit01 {
        padding: 2px 0.8rem 0 0;
        font-size: 2vw;
        line-height: 2vw;
    }
    #main .tit_wrap .tit03,
    #main .tit_wrap .tit02 {
        font-size: 5.5vw;
        line-height: 6.5vw;
    }
}
@media all and (min-width: 769px) and (max-width: 1023px) {
    #main .tit_wrap .tit01 {
        padding: 2px 1rem 0 0;
        font-size: 22px;
        line-height: 22px;
    }
    #main .tit_wrap .tit03,
    #main .tit_wrap .tit02 {
        width: 8.5vw;
        font-size: 7vw;
        line-height: 8.5vw;
    }
    #main .tit_wrap .tit04 {
        font-size: 3vw;
        line-height: 4vw;
    }
}
@media screen and (max-width: 768px) {
    
    #main .tit_wrap {
        left: 15%;
        bottom: 20%;
        padding-right: 65px;
    }
    #main .tit_wrap .tit01 {
        margin-right: 1.2rem;
        padding: 2px 0.8rem 0 0;
        font-size: 3.8vw;
        line-height: 3.8vw;
    }

    #main .tit_wrap .tit03,
    #main .tit_wrap .tit02 {
        margin: -5px;
        width: 12vw;
        font-size: 9vw;
        line-height: 11.5vw;
    }
    #main .tit_wrap .tit04 {
        font-size: 4vw;
        line-height: 4.5vw;
    }
    #main .tit_wrap .tit04 .bride {
        padding-right: 20px;
    }
    #main .bottom, #main .bottom.view {display: none;}

}
