


#message {padding: 260px 40px; background-color: #fcfcfc; overflow: hidden;}
#message p {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: -0.05em;

}
#message .tit {
    font-size: 2.4rem;
    color: #000;
    line-height: 3.2rem;
}
#message .tit span {font-weight: bold;}
#message .sub {
    font-size: 2rem;
    color: #999;
}
#message .sub span {margin-right: 15px;}
#message form{ display: flex; margin: auto; max-width: 1200px; justify-content: space-between; align-items: center; }
#message form ul{ position: relative; list-style: none; width: 15%; height: 130px; margin: 0; }
#message form ul li{ position: absolute; top: 0; left: 0; padding: 0; }
#message form ul li input{ position: absolute; z-index: -1; display: none;}
#message form ul li label{
    position: relative;

    display: block;
    
    z-index: 10;
}
#message form ul li label img{
    border-radius: 50%;
    width: 130px; height: 130px;
}
#message form ul li label span{
    position: absolute;
    
    width: 80px;
    bottom: -30px;
    font-size: 0.9rem;
    color: #ccc;

    cursor: pointer;
}
#message form ul li label[for="holee"] span{
   left: 0%
}
#message form ul li label[for="juhee"] span{
    left: 57%
}

#message form ul li input:checked + label span{
    color: #000;
}
#message form ul li input:checked + label{
    z-index: 11;
}

#message form > label{
    display: flex;
    flex: 1;
    padding: 10px 20px;
    border: 2px solid #ccc;
    margin: 20px auto;
    border-radius: 1em;
}
#message form > label input {
    appearance: none;
    border: 0 none;
    outline: 0 none;
    flex: 1;
    background-color: transparent;
    padding: 6px 10px;
    font: inherit;
}
#message form > button{
    display: block;
    width: 10%;
    padding: 10px;
    border-radius: 1em;
    border: 2px solid #999;
    appearance: none;
    background-color: #999;
    color: #fff;
    margin-left: 2%;
    font-size: 1rem;
    line-height: 2.2em;
}

#message .lists{
    display: flex;
    
    
    align-items: center;
    
    margin: 80px auto;
    width: 100%;
}
#message .lists > div{
    padding: 10px;
    width: auto;

    font-size: 2rem;
    color: #ccc;

    display: flex;
    align-items: center;
}

#message .lists > div::before{
    content: "";
    display: inline-block;

    width: 40px;
    height: 40px;

    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    border-radius: 50%;

    margin-right: 10px;

    border: 2px solid #fcfcfc;

}
#message .lists > div.jh::before{
    background-image: url(../images/img_woman.jpg);
}
#message .lists > div.ho::before{
    background-image: url(../images/img_man01.jpg);
}


#message .lists > div:hover{
    color: #000;
}
#message .lists > div:hover::before{
    border-color: orange;
}

@media screen and (max-width: 768px) {
    
    #message {padding: 80px 20px;}
    #message .tit {
        font-size: 24px;
        line-height: 30px;
        word-break: keep-all;
    }
    #message .sub {
        font-size: 20px;
    }
    #message form {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    #message form ul {
        margin-bottom: 20px;
        width: 100%;
    }
    #message form ul li {
        /* width: 100%; */
        left: 50%;
        transform: translateX(-50%);
    }
    #message form ul li label span {
        left: auto;
        font-size: 20px;
    }
    #message form ul li label[for="holee"] span {
        top: 45%; left: -76%;
    }
    #message form ul li label[for="juhee"] span {
        top: 45%; right: -76%; left: auto;
    }
    #message form ul li label img {
        margin: 0 auto;
        width: 130px; 
        height: 130px;
        opacity: 0;
        pointer-events: none;
    }
    
    #message form ul li input:checked + label img {
        opacity: 1;
    }
    #message form > label {
        display: inline-block;
        margin: 0;
        padding: 12px 10px;
        width: calc( 100% - 90px );
    }
    #message form > label input {
        font-size: 12px;
        padding: 0;
        width: 100%;
    }
    #message form > button {
        display: inline-block;
        margin: 0 0 0 1%;
        padding: 8px 2%;
        width: 55px;
        font-size: 10px;
        white-space: nowrap;
        box-sizing: border-box;
        border-radius: 4px;
    }
    #message .lists > div {
        font-size: 22px;
    }
    #message .lists {
        margin: 60px auto;
    }
}