#movie {
    background-color: #fffcfc;
}
#movie h4{
    font-size: 2.4rem;
    text-align: center;

    margin-bottom: 24px;
}
#movie ul{
    display: flex;
    justify-content: space-between;

    margin: 80px auto;
    padding: 0 40px;
    max-width: 1840px;
    
}
#movie ul li{
    position: relative;
    margin: 0 auto;
    width: 45%;
}
#movie ul li::before{
    content: "";
    position: absolute;
    left: 50%; bottom: 40%;
    border-left: 20px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 1;
    cursor: pointer;
}

#movie ul li video{
    position: relative;
    width: 100%;
    cursor: pointer;
}

#movie .theater{
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0,0,0,0.6);

    z-index: 500;

    display: none;
    justify-content: center;
    align-items: center;
}

#movie .theater video{ width: 70%; }



@media screen and (max-width: 768px) {
    
    /* #movie ul li::before{ display: none; } */
}






@media screen and (max-width: 768px) {
    #movie ul {display: block; margin: 60px auto 0 auto; padding: 0 20px;}
    #movie ul li {
        
        width: 100%;
        box-sizing: border-box;
    }
    #movie ul li:first-child {margin-bottom: 40px;}

    #movie ul li::before {
        bottom: 27%;
        border-left: 30px solid #fff;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }

    #movie h4 {font-size: 28px;}
}












