
#thanks {padding: 143px 40px 0 40px; text-align: center; background: url('../images/bg_thanks.jpg') no-repeat 100% 100% / cover;}
#thanks h3 {color: #fff;}
#thanks p {margin: 0 auto; max-width: 1200px; line-height: 2.5rem; padding: 2vw 10vw; word-break: keep-all; position: relative; z-index: 1; font-size: 22px; color: #000000; font-weight: 400; background-color: rgba(246,246,246,0.9); border-radius: 100px; }
#thanks p strong {display: block;}
#thanks span {display: block; margin-top: 118px; padding: 62px 0 34px; text-align: center; color: #999; }


@media screen and (max-width: 768px) {

    
    #thanks {
        padding: 80px 20px 40px 20px
    }
    #thanks p {
        margin-top: 50px;
        padding: 25px 40px;
        font-size: 14px;
        line-height: 24px;
        border-radius: 70px;
    }
    #thanks span {
        margin: 60px 0 18px 0;
        padding: 0;
        font-size: 12px;
        line-height: 18px;
        word-break: keep-all;
    }








}